

.bsp-catalog-icon-large { width:128px;height:128px;}
.bsp-catalog-icon-medium { width:64px;height:64px;}
.bsp-catalog-icon-small { width:32x;height:32px;}
.bsp-catalog-icon-tiny { width:32x;height:32px;}

.bsp-request-ok { background-color: #ddffcc}
.bsp-request-fail { background-color: #ffcccc}
.bsp-request-open { }

.bsp-main-page { padding-left: 40px; 
	padding-right: 40px; 
	position: relative }

.bsp-header { background-color: #5555ff; }
.bsp-footer { background-color: #5555ff; 
	margin: 25px; 
	vertical-align: middle; }

.bsp-paginator { background-color: #5555ff; }

.bsp-login-body { background: url(../images/Bosphorus_Bridge-2.jpg);
    background-repeat:repeat-y;
    background-position:center center;
    background-attachment:scroll;
    background-size:100% 100%; }

.bsp-login-box { align:center; 
	background-color:#89a6ca; 
	border-radius: 25px;
	margin: auto; 
	padding: 20px; 
	width: 400px; 
	height: 300px}
	
.ui-page { background: transparent; }

.footer-button-left,
.footer-button-right {
	position: absolute;
	margin: 0;
	top: auto;
	bottom: 0.74em;
}
.footer-button-left {
	left: 2em;
}
.footer-button-right {
	right: 2em;
}

.status-on {
	color: green;
}

.status-off {
	color: red;
}

.status-expired {
	color: #cbca04;
}

.status-unknown {
	color: blue;
}
