<div data-role="container" id="catalog-container">
	<div id="catalog-wrapper">
		<ul id="catalog-item-list" data-role="listview">
			<th:block th:each="item: ${catalog.content}">
			    <li><a th:attr='href=${"editrequest/" + item.catalogItem.id}' data-ajax="false">
					<img th:attr='src=${"catalogicon/" + item.catalogItem.iconId}'/>
					<h2 th:text="${item.catalogItem.name}"/>
					<p th:text="${item.catalogItem.description}"/>
				</a></li>
			</th:block>
		</ul>
	</div>
</div> 

<script>
	initPager('#pager', 'catalog', '#cataliog-table', '#catalog-wrapper')
</script>