<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Bosphorus Login</title>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>Bosphorus</title>
	<link rel="stylesheet" href="webjars/jquery-mobile/1.4.5/jquery.mobile.min.css"/>
	<link rel="stylesheet" href="css/bosphorus.css"/>
	<script type="text/javascript" src="webjars/jquery/2.1.4/jquery.min.js"></script>
	<script type="text/javascript" src="webjars/jquery-mobile/1.4.5/jquery.mobile.min.js"/>
	<script type="text/javascript" src="js/bosphorus.js"/>	
    </head>
    <body>
    	<div class="bsp-login">
        	<div th:if="${param.error}">
            	Invalid username and password.
        	</div>
        	<div th:if="${param.logout}">
            	You have been logged out.
        	</div>
        	<form th:action="@{/login}" method="post" data-ajax="false">
            		<label for="username">User Name</label> 
            		<input type="text" name="username" id="username"/>
            		<label for="password">Password</label> 
            		<input type="password" name="password" id="password"/>
            		<div class="form-actions">
                    	<button type="submit" class="btn">Log in</button>
                	</div>
        	</form>
        </div>
    </body>
</html>