<div data-role="container" id="resources-container">
	<div id="machine-wrapper">
		<table data-role="table" id="machine-table"
			class="ui-responsive table-stroke" data-bsp-paged="true" 
			th:attr="data-bsp-pages=${resources.metadata.totalPages}">
			<thead>	       
				<tr>
					<th />          
					<th data-priority="1">Name</th>          
					<th>Resource</th>          
					<th>Created</th>
					<th>Expires</th>       
					<th>Destroyed</th>
					<th>Status</th>     
				</tr>
				     
			</thead>
			<tbody id="machines-list">
				<tr th:each="item: ${resources.content}">
					<th width="5%"><img class="bsp-catalog-icon-tiny"
						th:attr='src=${"catalogicon/" + item.iconId}' /></th>
					<td><a href="#" th:attr="data-bsp-popup-href=${'resourcedetails/'+ item.id}" 
						data-bsp-link="popup" onclick="loadPopup(this, '#detailsPopup')"
						th:text="${item.name}"/></td>
					<td th:text="${item.catalogItem !=null ? item.catalogItem.label : item.resourceTypeRef.label}"/>
					<td th:text="${#dates.format(item.dateCreated, 'MM/dd hh:mm a')}"/>
					<td th:text="${item.lease!=null and item.lease.containsKey('end')?#dates.format(item.lease.end, 'MM/dd hh:mm a'):'N/A'}"/>
					<td th:text="${item.destroyDate!=null?#dates.format(item.destroyDate, 'MM/dd hh:mm a'):'N/A'}"/>
					<!-- td width="5%"><th:block th:switch="${#strings.trim(item.status)}">
							<div th:case="'ACTIVE'">
								<img src="images/bullet_green.png" class="bsp-catalog-icon-tiny" />
							</div>
							<div th:case="*">
								<img src="images/bullet_blue.png" class="bsp-catalog-icon-tiny" />
							</div>
						</th:block></td -->
						<td data-bsp-lazy="true" data-bsp-dirty="true" th:attr="data-bsp-resourceId=${item.id}">Loading...</td>
						
				</tr>
			</tbody>
	</table>
	</div>
</div>

<div id="detailsPopup">
    <div id="detailsContent">
    </div>
</div>

<script>
	initPager('#pager', 'machines', '#machine-table', '#machine-wrapper');
	$(document).ready(function()  {
		lazyLoadResourceStatus();
	})
	</script>