<div data-role="container" id="request-container">
	<div id="request-wrapper">
		<table data-role="table" id="requests-table"
			data-mode="columntoggle" class="ui-responsive table-stroke">
			<thead>	       
				<tr>
					<th />          
					<th data-priority="1">Number</th>          
					<th>Resource</th>          
					<th>Description</th>
					<th>Status</th>        
				</tr>
				     
			</thead>
			<tbody id="requests-list">
				<tr th:each="item: ${requests.content}">
					<th width="10%"><img class="bsp-catalog-icon-tiny"
						th:attr='src=${"catalogicon/" + item.iconId}' /></th>
					<th width="10%"><a href="#detailsPopup" th:attr="onClick=${'javascript:$(''#detailsContent'').load(''requestdetails/' + item.id + ''');'}"
						th:text="${item.requestNumber}" data-rel="popup"
						data-position-to="window" data-transition="pop" data-ajax="true"/></th>
					<td width="25%" th:text="${item.requestedItemName}" />
					<td width="25%" th:text="${item.description}" />
					<td width="5%"><th:block th:switch="${#strings.trim(item.state)}">
							<div th:case="'SUCCESSFUL'">
								<img src="images/bullet_green.png" class="bsp-catalog-icon-tiny" />
							</div>
							<div th:case="'FAILED'">
								<img src="images/bullet_red.png" class="bsp-catalog-icon-tiny" />
							</div>
							<div th:case="'PROVIDER_FAILED'">
								<img src="images/bullet_red.png" class="bsp-catalog-icon-tiny" />
							</div>
							<div th:case="*">
								<img src="images/bullet_blue.png" class="bsp-catalog-icon-tiny" />
							</div>
						</th:block></td>
				</tr>
			</tbody>
	</table>
	</div>
	<div data-role="footer" class="bsp-paginator">
		<input type="text" data-role="spinbox" data-options='{"type":"horizontal"}' 
			name="request-page" id="request-pager" min="1" th:attr="max=${requests.metadata.totalPages}, value=${pageNumber}"/>
	</div>
</div>

<div id="detailsPopup">
    <div id="detailsContent">
    </div>
 </div>

<script>
$(document).on("change", "#request-pager", function(event) {
	console.log(event.target.id)
	changeListPage(event, 'requests', '#request-wrapper', event.target.value, 10)
})
</script>